@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.title {
    font-family: 'Abril Fatface';
    /* font-size: 70px; */
}

.logout-button {
    background: transparent;
    border: none;
    outline: none !important;
}
.btog {
    background: transparent;
    border: none;
    outline: none !important;
}
.margin-top-2 {
    margin-top: .5rem;
}